/* Shared */

@font-face {
    font-family: poppins;
    src: url(../FONTS/Poppins-Regular.ttf);
}

* {
    font-family: poppins;
}

.form-signin{
    margin-left:25%; 
    margin-right: 25%;
    margin-bottom: 12%; 
}

.inHead{
    text-align: center; 
    color: #4E6AF0; 
    font-weight: bold; 

    padding-top: 8%;
    padding-bottom: 2%;
}

.inSubHead{
    text-align: center; 
}

.inBodyDiv{
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 10%;
}

/* Login */
.loginField{
    margin-top: 2%;
    margin-bottom: 2%; 
}

#resetPw{
    justify-content: end;
    text-align: right;
}

#loginBtn{
    background-color: #1565D8; 
    
    width: 100%; 
}

/* Sign Up */
.signupField{
    width: 100%;
}