@font-face {
    font-family: poppins;
    src: url(../FONTS/Poppins-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

* {
    font-family: poppins;
}

h1,
h2,
h3 {
    text-align: center;
}

#internetFail {
    margin: auto;
}

#lostConnection {
    margin: 50px;
}

#aboutUsDiv {
    background: rgba(26, 169, 250, 0.12);
    line-height: 1.6;
}

#aboutUsH1 {
    text-align: left;
    font-weight: bold;
    line-height: 26pt;
}

.pageTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */
    text-align: center;
    letter-spacing: 0.25px;
    color: #4E6AF0;
}

.secondaryTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 180.5%;
    /* or 45px */
    color: #222222;
    text-align: left;
}

.greybox {
    width: 295px;
    height: 241.47px;
    background: #F5F5F5;
    border-radius: 20px;
}

.whiteBox {
    width: 378px;
    height: 348px;
    left: 128px;
    top: 447px;
    border-radius: 20px;
}

.bigGreyBox {
    width: 378px;
    height: 348px;
    background: #F5F5F5;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.smallBox {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 300%;
    width: 140px;
    height: 39px;
    border-radius: 8px;
}

.smallPurpleBox {
    background: rgba(176, 0, 220, 0.11);
    color: #B000DC;
}

.smallOrangeBox {
    background: rgba(220, 66, 0, 0.11);
    color: #DC1A00;
}

.smallGreenBox {
    background: rgba(0, 220, 141, 0.11);
    color: #00DC72;
}

#careerDiv {
    background: rgba(26, 169, 250, 0.12);
    line-height: 1.6;
}

.blueTitle {
    width: 106.02px;
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 202.5%;
    /* or 32px */
    color: #4E6AF0;
}

.homeBlueTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 150%;
    /* or 32px */
    color: #4E6AF0;
}

.ourOffice {
    width: 500px;
    height: 100px;
}

.aboutCompany {
    height: 569px;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
}

#searchButton {
    background: #2DDF89;
    border-color: #2DDF89;
    color: white;
}

img.preventSelect {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}