<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/actions.js" defer></script>
    <title>Careers</title>

</head>

<body>
    <div id="navbarTemplate" >
        <div id="bigNavBar">
            <navigation-bar-small-login v-if="isLogined()" ></navigation-bar-small-login>
            <navigation-bar-small-logout v-else></navigation-bar-small-logout>
        </div>

        <div id="smallNavBar">
            <navigation-bar-big-login v-if="isLogined()"></navigation-bar-big-login>
            <navigation-bar-big-logout v-else></navigation-bar-big-logout>
        </div>
    </div>

    <h1 class="pageTitle mt-5">Careers</h1>

    <div class="container mt-5 m-auto center">
        <h1 class="secondaryTitle ms-lg-4">Why work with us</h1>
        <div class="row mt-5 mx-auto">
            <div class="mx-auto mb-2 col-xs-12 col-sm-12 col-md-4 m-sm-4 shadow-lg ms-lg-4 whiteBox">
                <div class="text-center smallBox mt-5 mb-3 smallPurpleBox smallBox">Good Pay</div>
                <p class="mx-2 text-start fw-bold">Competitive Pay</p>
                <p class="mx-2 text-start fw-lighter m-0">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
            </div>
            <div class="mx-auto mb-2 col-xs-12 col-sm-12 col-md-4 m-sm-4 bigGreyBox ms-lg-4">
                <div class="text-center mx-2 smallBox mt-5 mb-3 smallOrangeBox smallBox">Friendly Office</div>
                <p class="mx-2 text-start fw-bold">Nice People</p>
                <p class="mx-2 text-start fw-lighter m-0">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
            </div>
            <div class="mx-auto mb-2 col-xs-12 col-sm-12 col-md-4 m-sm-4 bigGreyBox ms-lg-4">
                <div class="text-center mx-2 smallBox mt-5 mb-3 smallGreenBox smallBox">Free Food</div>
                <p class="mx-2 text-start fw-bold">Corporate Cafeteria</p>
                <p class="mx-2 text-start fw-lighter m-0">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid mt-3 mb-5" id="careerDiv">
        <div class="row">
            <div class="col-sm-12 col-lg-5 col-md-12">
                <img class="img-fluid p-5 mx-auto mx-auto d-block" src='../IMG/ouroffice_Career.svg' height='' width=''>
            </div>
            <div class="col-sm-12 col-lg-7 text-start mt-lg-5 mt-sm-1">
                <div class="container">
                    <p class="text-start mt-lg-5 ms-sm-1 blueTitle">
                        Our Office
                    </p>
                    <h3 class="text-start secondaryTitle ">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</h3>
                    <p class="text-start mb-sm-3">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br>
        <br>
        <br>
    </div>


</body>

</html>